.Sortbar {
  padding: 60px 0px 0px 10px;
  border-bottom: 1px solid #eee;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Search {
  display: flex;
  justify-content: space-between;
  font-size: 90%;
  padding-top: 10px;
}

select {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  border-radius: 3px;
  outline-style: none;
  font-size: 15px;
  color: grey;
}

.Results {
  margin-top: 0px;
  padding-right: 50px;
}

.Favorite {
  color: #ff742a;
  font-weight: bold;
}
