.List {
  display: block;
  height: 84vh;
  width: 100vw;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 699px) {
  .List {
    height: 100vh;
  }
}
