.Item {
  width: 100%;
  border: 1px solid #eeeeee;
  background-color: #f6f6ef;
  padding: 1px 15px 0px;
}

.Subtitles {
  font-size: 80%;
  color: grey;
}

.Link {
  text-decoration: none;
  color: grey;
}

.Title {
  text-decoration: none;
  color: black;
}
