ul {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  list-style: none;
  background-color: white;
  height: 1px;
  padding: 20px;
  width: 100%;
}

li {
  margin: 3px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  footer {
    display: none;
  }
}
